<aside class="aside">
    <div class="inside">
  <a href="<%= site.url %>">
    <img class="" src="<%= base %>img/logodark45.png" alt="<%= site.name %> avatar">
  </a>
  <a class="aside-hamburger" href="#top"></a>
  <div class="aside-target">
    <a href="<%= site.url %>">
      <h1 class="aside-title"><%= site.name %></h1>
    </a>
    <p class="aside-description"><%= site.description %></p>
    <% include nav %>
  </div>
    </div>
</aside>
